.canvas {
    height: 1000px;
  }
  .pl2 {
    padding-left: 10px;
  }
  
  .d-tree-container {
    list-style: none;
    padding: 0;
  }
  
  .d-tree-node {
    padding: 0.75rem 1.25rem;
  }
  
  .d-tree-toggler.active {
    transform: rotate(45deg);
  }
  